include *.md
recursive-include downstreaming *.html *.js
graft downstreaming/static
include downstreaming/lib/alembic/env.py
include downstreaming/lib/alembic/script.py.mako
include downstreaming/lib/alembic/versions/*.py
