include *.md
recursive-include downstreaming *.html *.js
graft downstreaming/static
include downstreaming/migrations/alembic.ini downstreaming/migrations/script.py.mako
include downstreaming/migrations/versions/*.py
